# OS
.DS_Store

# IDEs
.idea/
.vscode/

# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Java / Maven
target/
*.class

# Node
node_modules/
dist/
build/

# Logs
*.log
logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Kubernetes / local secrets
*.secret.yaml
secrets/
